---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Nav from "@/components/Nav.astro";
import CourseInfo from "@/components/CourseInfo.astro";
import P5Background from "@/components/P5Background.astro";
import { SITE_DESCRIPTION, SITE_TITLE, SECTION_ID } from "@/consts";
import HallofFame from "@/components/HallofFame.astro";
import Marquee from "@/components/Marquee.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`${SITE_TITLE}: ${SECTION_ID}`}
      description={SITE_DESCRIPTION}
      image={`opengraph.jpg`}
    />
  </head>
  <body>
    <P5Background />

    <header>
      <div>
        <h1>{`${SITE_TITLE}`}<br />{`(${SECTION_ID})`}</h1>
        <p>{SITE_DESCRIPTION}</p>
      </div>
      <CourseInfo />
    </header>

    <main class="cutoff">
      <Nav />
    </main>

    <div id="third-column" class="border-t">
      <HallofFame />
      <Footer />
    </div>
    <script src="../scripts/page-animations.js"></script>
    <Marquee
      text="Welcome to Technology A! • Stay tuned for updates • Make sure to fill out the welcome survey! "
      speed="slow"
      direction="right"
    />
  </body>
</html>
