---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Nav from "@/components/Nav.astro";
import CourseInfo from "@/components/CourseInfo.astro";
import P5Background from "@/components/P5Background.astro";
import { SITE_DESCRIPTION, SITE_TITLE, SECTION_ID } from "@/consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`${SITE_TITLE}: ${SECTION_ID}`}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body>
    <P5Background />

    <header>
      <div>
        <h1>{`${SITE_TITLE} (${SECTION_ID})`}</h1>
      </div>
      <CourseInfo />
    </header>

    <main>
      <nav class="weekly-schedule">
        <Nav />
      </nav>
    </main>
    <Footer />
    <script src="../scripts/page-animations.js"></script>
  </body>
</html>
