---
import { getCollection } from "astro:content";

const allPosts = (await getCollection("weeks"))
  .filter((post) => !post.id.startsWith("_"))
  .sort((a, b) => a.data.week - b.data.week);

const currentSlug = Astro.url.pathname.replace(/^\/|\/$/g, "") || "index";
const isIndex = currentSlug === "index";

// Filter out the current page if not index
const posts = allPosts.filter((post) => isIndex || post.id !== currentSlug);
---

{
  posts.length > 0 ? (
    <ul>
      {posts.map((post) => (
        <div key={post.id}>
          {isIndex &&
            (() => {
              switch (post.data.week) {
                case 1:
                  return <h1 class="smaller-h1">From Fixed to Variable</h1>;
                case 6:
                  return <h1 class="smaller-h1">Weekly Schedule</h1>;
                default:
                  return null;
              }
            })()}
          <a href={`/${post.id}/`}>
            <li>
              <h2 class="title">
                Week {post.data.week}: {post.data.title}
              </h2>
              <p class="description">{post.data.description}</p>
            </li>
          </a>
        </div>
      ))}
    </ul>
  ) : (
    <p>No other weeks available yet. Check back soon!</p>
  )
}
